

<form #forgotForm="ngForm" class="col s12 white" (ngSubmit)="OnForgotPassword(forgotForm)">
  <div class="row">
    <div class="input-field col s12">Enter Email to Get Your Password
      <input type="text" #Email="ngModel" name="Email" [(ngModel)]="formModel.Email" placeholder="Email" required>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <button [disabled]="!forgotForm.valid" class="btn-large btn-submit" type="submit">Send Mail</button>
    </div>
  </div>
</form>


