
/*.a-1{
    margin-left:5% !important;
}

.a-2 {
  margin-left: 5% !important;
}

.icon{
    margin-left:3% !important;
}
.heading {
  text-align: center !important;
  color: #ff4081 !important;
}

.sub-heading{
    text-align : center!important;
    color:black !important;
}
.about{
    margin-left:3% !important;
}*/
