<h1 class="head">Contact Us</h1>
<hr />
<div class="about">
  <h3>
    Thank you for considering TatvaSoft as your software development partner.
    We are eager to serve you with our Custom Software Development Services on
    technology platforms, like Microsoft, Java, PHP, Mobile, Big Data, BI, Open
    Source and others.
  </h3>
  <br />
  <h3>
    Please send us your requirements and we'll get back to you at the earliest.
  </h3>
  <br />
  Inquiry :<a href="mailto:info@tatvasoft.com"> info@tatvasoft.com</a> | Work with us :<a href="mailto:career@tatvasoft.com">career@tatvasoft.com</a>
</div>
