<h1 class="head">About Us</h1>
<hr />
<div class="about">
  <h3>
    TatvaSoft is a CMMi Level 3 and Microsoft Gold Certified Software
    Development company that offers custom software development services
    on diverse technology platforms, like Microsoft, Java, PHP, Open Source
    , BI, and Mobile.
  </h3>
  <h3>
    With rich and varied experience of 18+ years in software development and
    stringent quality standards, we offer utmost qualitative, on-time and
    cost-effective software solutions. We serve clientele across the industries
    and globe with Offices in US, Canada, UK, Australia and Development Center
    in India with a workforce of 810+ IT professionals.
  </h3>
</div>
<br />
<br />
<h1 class="head">Why TatvaSoft as your Software Outsourcing Partner?</h1>
<hr />
<div class="about">
  <h3>
    Selecting the global software outsourcing partner for custom software
    development is a critical decision as it impacts the overall business.
    At TatvaSoft, we understand this criticality and expertise in solving
    complex business challenges using thought process and information technology.
    Our 18+ years of experience, expertise in multiple technologies and domains,
    and standard processes, makes us the right outsourcing partner.
  </h3>
  <h3>
    We have successfully completed 1800+ projects with 810+ customers in multiple
    industries, like Oil & Gas, Mining, Energy & Utilities, Transportation, Retail,
    Healthcare, Travel & Hospitality, BFSI, Media & Entertainment, Sports, Education and others.
  </h3>
</div>
